* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
  
body{
  text-align: center;
  margin: auto;
}

html{
  scroll behavior: smooth;
}

h1, h3{
  font-family: "Work sans", sans-serif;
  overflow: hidden;
}

h3{
  font-family: "El Messiri", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 500;
  font-size: 2em;
}

h4{
  overflow: hidden;
}

h5.card-title{
  overflow: hidden;
}

p{
  font-family: "PT Sans" sans-serif;
}

i{
  margin: 30px 20px;
}


.container-fluid{
  padding: 3% 5%; 
  max-width: fit-content;
}

.picture-section{
  background-image: url(../images/hawaltech.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  color: #f0f0f0;
}

.user-font{
  position: fixed;
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
  background-color: transparent;
  z-index: 1;
}


.navbar{
  padding: 0 0 3.7rem; 
  position: fixed;
  top: 2%;
  left: 5%;
  z-index: 2;
  background-color: transparent;
  margin: 0 3% 7% 3%;
}

.navbar-brand{
  font-family: "El Messiri", sans-serif;
  font-size: 1.75rem;
  font-weight: bold;
  margin:0 6rem 0 1.5rem;
}

.nav-item{
  padding: 0 6px;
}

.nav-link{
  font-size: 1.2rem;
  font-weight: 400;
}

.home-text{
  margin-top: 6rem;
}

.shop-button{
  margin: 5% 30%;
}


#Phones{
  padding-top: 4%;
  padding-bottom: 5%;
}

.phone-font{
  padding-bottom: 2%;
}
 

#Laptops{
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #ece3ad;
}

.card{
  margin-bottom: 7%;
}

.card-body {
  width: 100%;
}

.card-content{
  background-color: #C3BA85;
  width: 100%;
}

.laptop-font{
  padding-bottom: 2%;
}

.laptop-image{
  width: 100%;
  height: auto;
}


#Accessories{
  padding-top: 5%;
  padding-bottom: 5%;
}

.price-text{
  font-size: 1.5rem;
  line-height: 1.5;
}


#Contact{
  background-color: #ece3ad;
}
